name: korabo-user-worker.yml
on:
  push:
    branches:
      - master
    paths:
      - packages/korabo-user-worker/**
      - packages/user-core/**

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/korabo-user-worker

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          aws-region: ap-southeast-1
          role-session-name: LambdaDeploymentSession
          role-to-assume: arn:aws:iam::975050100357:role/lambda_deployer

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal

      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
            ${{ runner.os }}-cargo-stable-

      - name: Install cargo-lambda (if not cached)
        run: |
          if ! command -v cargo-lambda &> /dev/null; then
          pip install cargo-lambda
          fi

      - name: Build and deploy lambda
        run: |
          cargo lambda build --release
          cargo lambda deploy korabo-user-worker
        
        
